<form class="form p-5" @onsubmit=executeOnSubmit>
    <div>
        <label for="CourseID">Identifier</label><br />
        <input class="form-control" id="CourceID" @bind=model.ID />
    </div>
    <div>
        <label for="FirstName">Prenom</label><br />
        <input class="form-control" id="FirstName" @bind=model.FirstMidName />
    </div>
    <div>
        <label for="LastName">Nom</label><br />
        <input class="form-control" id="LastName" @bind=model.LastName />
    </div>
    <div>
        <label for="EnrollmentDate">Date d'inscripion</label><br />
        <input class="form-control" id="EnrollmentDate" type="datetime-local" @bind=model.EnrollmentDate />
    </div>
    <br />
    <button class="form-control btn btn-success" type="submit">Ajouter</button>
</form>
<a href="/students">Back</a>
@using Entities
@code {
    [Parameter]
    public Student? model { get; set; }
    [Parameter]
    public Action<Student> onSubmit { get; set; }
    public void executeOnSubmit()
    {
        onSubmit.Invoke(model);    
    }
}


